---
layout: default
title: Blog
---

{% for post in site.posts %}
{% if post.published %}
    <article class="post clearfix">
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <div class="post-info">
            <time itemprop="dateCreated" datetime="{{ post.date }}">{{ post.date|date: "%A, %d %B %Y" }}</time>
        </div>
        {% if post.feature_image %}
        <img class="img-responsive img-rounded feature-img" src="/img/blog/{{ post.feature_image }}" alt="{{ post.title }}">
        {% endif %}
        <p>{{ post.excerpt }}</p>
        <a href="{{ post.url }}" class="btn btn-green pull-right">Read More</a>
    </article>
    <hr />
{% endif %}
{% endfor %}

